h1{
       font-size: 80px;
       color: yellow;
}
img{
       height:400px;
       width: auto;
}
#special{
        font-size:80px;
        color: red;
}
body{
      background-image: url("banderas.jpg");
      background-color: #cccccc;
}
li{  font-size:20px;
      color:white;
}
p{
  font-size:30px;
  color: white;
}
