h1{
       font-size: 80px;
       color: yellow;
}
img{
       height:400px;
       width: auto;
}
#special{
        font-size:80px;
        color: red;
}
body{
      background-image: url("banderas.jpg");
      background-color: #cccccc;
}
